




<main class="" >
    <section>
        <h1>Nossos planos<h1>
   </section>
    
    <section id="card-planos">
        <div class="card" style="width: 18rem;text-align: center;background-color: #1a1d24;color:#fff ">
        <img src="https://images.pexels.com/photos/4162491/pexels-photo-4162491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Plano anual <i class="fa-sharp fa-solid fa-dumbbell"></i></h5>
            <p class="card-text">Área de musculação e aeróbicos  <br> 12 meses de fidelidade por apenas R$ 129,90</p>
            <a href="#" class="btn btn-primary">Me matrícular!</a>
        </div>
        </div>
        <div class="card" style="width: 18rem;text-align: center; background-color: #1a1d24;color:#fff">
        <img src="https://images.pexels.com/photos/4325451/pexels-photo-4325451.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Plano semestral <i class="fa-sharp fa-solid fa-dumbbell"></i></h5>
            <p class="card-text">Área de musculação e aeróbicos <br> 6 meses de fidelidade por apenas R$ 99,90</p>
            <a href="#" class="btn btn-primary">Me matrícular!</a>
        </div>
        </div>
        <div class="card" style="width: 18rem; text-align: center;background-color: #1a1d24;color:#fff">
        <img src="https://images.pexels.com/photos/4164651/pexels-photo-4164651.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
        <div class="card-body">
        
            <h5 class="card-title">Plano mensal <i class="fa-sharp fa-solid fa-dumbbell"></i></h5>
                <p class="card-text">Área de musculação e aeróbicos <br> sem fidelidade por apenas R$ 79,99</p>
                <a href="#" class="btn btn-primary">Me matrícular!</a>
        
        </div>
        </div>

    </section>
</main>