* {
  padding: 0;
  margin: 0;

}



@media only screen and (max-width: 768px) {
  #card-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
  }
  

  .card {
    margin: 1em;
  }
  

  .h1-plano {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-left: 3.5em;
    border-radius: 19px;
    width: 70%;
    height: 10%;
    background-color: #1A1D24;
    color: #fff;

  }
}

@media only screen and (min-width: 769px) {
  .body-plano{
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
    margin-top: 2em;
  }/*display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    text-align: center;
    margin-top: 2em;
    border-radius: 17px;
    font-size: 60px;
    color: #fff;
    background-color: #1A1D24;
    height: 20%;
    box-shadow: 6px 6px 20px gray, -6px -6px 20px white;*/
  .h1-plano  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 30px;
    border-radius: 17px;
    width: 15em;
    height: 5em;
    background-color: #1A1D24;
    color: #fff;
  }
  #card-planos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10em;
  }
}

.custom-shape-divider-top-1678888050 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #00ca4e;
}

.custom-shape-divider-top-1678888050 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 286px;
}

.custom-shape-divider-top-1678888050 .shape-fill {
  fill: #1A1D24;
}


section {
  text-align: center;
  margin-top: 2em;
}

.img-home {
  max-width: 30%;
  max-height: 70%;
  width: auto;
  height: auto;
}

.icon-logo {
  width: 80px;
  height: 80px;
}




@media only screen and (max-width: 768px) {
  #container {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=1700&dpr=1');
    background-repeat: no-repeat;
    margin: 0;


  }

  #container-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #000;
    justify-content: center;
    align-items: center;
    background-size: 16px 16px;
    gap: 70px;
    margin: 0;
  }

  #altura {
    border-radius: 20px;
  }

  #kilos {
    border-radius: 20px;
  }

  #imc {
    border-radius: 20px;
  }

  #calculo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
  }

  .cards {
    display: flex;
    align-items: center;
    width: 70%;
    height: 20%;


  }

  header {
    width: 100%;
    height: 7em;
    position: relative;
  }


  .titulo {
    width: 80%;

    margin-top: 6em;
    text-align: center;
    border-radius: 17px;
    font-size: 30px;
    color: #fff;
    background-color: #1A1D24;
    height: 50px;
    box-shadow: 6px 6px 20px gray, -6px -6px 20px white;


  }


}

@media only screen and (min-width: 769px) {
  #container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-image: url('https://images.pexels.com/photos/4162582/pexels-photo-4162582.jpeg?auto=compress&cs=tinysrgb&w=2500');
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    margin: 0;
  
  
  
  
  
  }

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    text-align: center;
    margin-top: 2em;
    border-radius: 17px;
    font-size: 60px;
    color: #fff;
    background-color: #1A1D24;
    height: 20%;
    box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
  

  }

}

  






#container-cards {
  display: flex;
  width: 100%;
  height: 50%;
  background: #000;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0;
  background-size: 16px 16px;
}

.cards {
  display: flex;
  align-items: center;

  margin: 3em;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: linear-gradient(45deg, rgba(5, 0, 36, 1) 0%, rgba(97, 9, 121, 1) 34%, rgba(0, 155, 255, 1) 100%);
  border-radius: 10px;
}

.cards img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.cards h2 {
  font-size: 22px;
  margin-right: 30px;
}

.cards h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.cards p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.cards button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
}

@media (width <=740px) {
  .cards {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .cards h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .cards img {
    margin: -100px 0 30px 0;
    width: 100%;
    height: 45%;
    max-width: 1000px;
  }
}

header {
  background-color: #1a1d24;
}

.container {
  max-width: 98rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}




/* estilição caluladora*/
.imc {
  text-align: left;
  padding-top: 1em;
  color: #fff;

}

.calc-imc {
  padding: 1em;
  box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
  background-color: #1a1d24;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}

#altura {
  border-radius: 20px;
}

#kilos {
  border-radius: 20px;
}

#imc {
  border-radius: 20px;
}

#calculo {

  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-decoration: none;
  color: #fff;

}

@media (min-width: 500px) {
  .calc-imc {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 1em;
  }
}

.calc-imc h1 {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3em;
}

.form label,
.form button {
  margin-top: 1em;
}

.form input,
.form button {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 0.5em;
}

.form button {
  background-color: #FBEFFF;
  cursor: pointer;
  border-radius: 0.3em;
  width: 50%;
}

.form button:hover {
  filter: opacity(0.8);
}

.form button:active {
  background-color: #FFEFFF;
  color: #000;
  filter: opacity(0.8);
}

/*ESTILIZANDO PAGINA ONDE NOS ENCONTRAR*/
@media only screen and (max-width: 768px) {
  .page-onde {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;

  }

  .card-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:25em;
    border-radius: 50px;
    background: linear-gradient(45deg, rgba(5, 0, 36, 1) 0%, rgba(97, 9, 121, 1) 34%, rgba(0, 155, 255, 1) 100%);
    text-align: center;
    margin-bottom: 12em;
    margin-top: 6em;
    padding-top: 15em;
    
  }

  .mapouter iframe {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3em;
    border-radius: 10px;
    margin-left: 17.2em;
    width: 17em;
    height: 10em;
  }


}





@media only screen and (min-width: 768px) {
  .page-onde {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .card-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70em;
    height: 35em;
    border-radius: 50px;
    background: linear-gradient(45deg, rgba(5, 0, 36, 1) 0%, rgba(97, 9, 121, 1) 34%, rgba(0, 155, 255, 1) 100%);
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 2em;

  }

  .mapouter iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    border-radius: 10px;
    width: 90%;
    height: 80%;
  }
}










/*ESTILIZANDO FOOTER*/

footer {
  display: inline-block;
  text-align: center;
  background: rgb(5, 0, 36);
  background: linear-gradient(45deg, rgba(5, 0, 36, 1) 0%, rgba(97, 9, 121, 1) 34%, rgba(0, 155, 255, 1) 100%);
  margin: 0;
  width: 100vw;
  height: 40vh;
}